@font-face {
  font-family: "iconfont"; /* Project id 3169818 */
  src: url('iconfont.ttf?t=1647090641970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
  content: "\e6c1";
}

.icon-rili:before {
  content: "\e6ca";
}

.icon-shoucang:before {
  content: "\e6cc";
}

.icon-liebiao:before {
  content: "\e6ce";
}

.icon-bianji:before {
  content: "\e6e8";
}

.icon-kaobei:before {
  content: "\e70a";
}

.icon-wenjianjia:before {
  content: "\e70e";
}

.icon-robot-3-b:before {
  content: "\e897";
}

.icon-fenxiang:before {
  content: "\e62c";
}

.icon-kecheng:before {
  content: "\e62d";
}

.icon-hufenche:before {
  content: "\e62e";
}

.icon-shujufenxi:before {
  content: "\e62f";
}

.icon-daojishi:before {
  content: "\e630";
}

.icon-tougao:before {
  content: "\e631";
}

.icon-tuandui:before {
  content: "\e632";
}

.icon-qianbao:before {
  content: "\e633";
}

.icon-shujujiankong:before {
  content: "\e634";
}

.icon-wenantiqu:before {
  content: "\e635";
}

.icon-wancheng:before {
  content: "\e636";
}

.icon-yinliu:before {
  content: "\e637";
}

.icon-time:before {
  content: "\ed55";
}

.icon-water:before {
  content: "\ed57";
}

.icon-gift:before {
  content: "\ed58";
}

.icon-assets:before {
  content: "\ed5d";
}

.icon-email:before {
  content: "\ed5e";
}

.icon-tag:before {
  content: "\ed5f";
}

.icon-box:before {
  content: "\ed63";
}

.icon-list:before {
  content: "\ed65";
}

.icon-notice:before {
  content: "\ed66";
}

.icon-edit:before {
  content: "\ed67";
}

.icon-user:before {
  content: "\ed68";
}

.icon-homepage:before {
  content: "\ed69";
}

.icon-cloud:before {
  content: "\ed6a";
}

.icon-relax:before {
  content: "\ed6e";
}

